.filters
  .filterType.catLinks{'data-filter_type' => 'category'}
    - @cats.each do |cat|
      - safe_name = cat.downcase.gsub(' ', '_')
      %input.catChecker{:type => 'checkbox', 'data-param' => safe_name}
      %a.catLink{:class => "actionFilter styledFilter catNamed#{safe_name}",
                 :href => "#", 'data-param' => safe_name}= cat
  .filterType.year{'data-filter_type' => 'year'}
    .yearSlider{'data-min' => @min_year, 'data-max' => @max_year}

.detailsList.stagingArea
  -# Store expanded info here for re-use
.moviesList.stagingArea
  - @movies.each do |movie|
    .movie{movie.attr_map}
      - if movie.thumbnail
        %img.poster

      .details
        .detailContent
          .name= movie.name
          .year= movie.year
          - if movie.rating > 0
            .rating= movie.rating
          .genres= movie.genres.gsub(',', ', ')
          .certification= movie.certification

.moviesDisplay
  -# This container gets quicksand'd
  .intro
    .status
      .preview
        .poster
      .progress
.noMovies
  %h2
    No Results
