.filters
  .filterType.catLinks{'data-filter_type' => 'category'}
    - @cats.each do |cat|
      - safe_name = cat.downcase.gsub(' ', '_')
      %input.catChecker{:type => 'checkbox', 'data-param' => safe_name}
      %a.catLink{:class => "actionFilter styledFilter catNamed#{safe_name}",
                 :href => "#", 'data-param' => safe_name}= cat

.moviesList
  - @movies.each do |movie|
    .movie{movie.attr_map}
      %h2.mainTitle= movie.name
      - if movie.thumbnail
        %img.poster
      - else
        .noPoster

      .details
        .detailContent
          .name= movie.name
          .year= movie.year
          .rating= movie.rating
          .genres= movie.genres
          .certification= movie.certification

.moviesDisplay
  -# This container gets quicksand'd
  .intro
    %h2
      Choose a category to get started
    .status
      .progress
.noMovies
  %h2
    No Results
