.catLinks
  - ['All'] + @cats.each do |cat|
    %a.catLink{:href => "#", 'data-param' => cat.downcase}= cat
.controlLinks
  %a.toggleThumbs{:href => "#thumbs"}
    Toggle Thumbs

.moviesList
  - @movies.each do |movie|
    .movie{movie.attr_map}
      %h2.mainTitle= movie.name
      - if movie.thumbnail
        %img.poster{:src => movie.thumbnail.href}
      - else
        .noPoster

      .details
        .name= movie.name
        .year= movie.year
        .rating= movie.rating
        .genres= movie.genres
        .certification= movie.certification

.moviesDisplay.clearfix
  -# This container gets quicksand'd
