.catLinks
  - ['All'] + @cats.each do |cat|
    - safe_name = cat.downcase.gsub(' ', '_')
    %input.catChecker{:class => "catNamed#{safe_name}", :type => 'checkbox', 'data-param' => safe_name}
    %a.catLink{:class => "catNamed#{safe_name}", :href => "#", 'data-param' => safe_name}= cat
.controlLinks
  %a.toggleThumbs{:href => "#thumbs"}
    Toggle Thumbs

.moviesList
  - @movies.each do |movie|
    .movie{movie.attr_map}
      %h2.mainTitle= movie.name
      - if movie.thumbnail
        %img.poster{:src => movie.thumbnail.href}
      - else
        .noPoster

      .details
        .detailContent
          .name= movie.name
          .year= movie.year
          .rating= movie.rating
          .genres= movie.genres
          .certification= movie.certification

.moviesDisplay.clearfix
  -# This container gets quicksand'd
  .intro
    %h2
      Choose a category to get started
